body {
    background-color: #202020;
    color:white;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.user {
    border: 2px solid red;
}